
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
body{
    background-color:#046380;
    font-family: 'Roboto:wght@100&display','Amatic SC';
    padding: 2px;
}
th{
    font-family: 'Amantic SC';
    background-color:#A7A37E;
    color: #FFFF ;
    padding: 2px;
}
td{
    background-color:#E6E2AF ;
    color:black ;
    padding: 2%;  
    font-size: 150%;
}
table{
    background: #E6E2AF;
    font-family: 'Amantic SC';
}
.centro{
    text-align: center;
}
.direita
{
    text-align: right;
}
.alto{
    background-color: #EFECCA;
}